.product1_stage1,
.product1_stage2,
.product1_stage3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    transform-style: flat;
    
}

.product1{
    max-width: 1200px;
    width:100%;
    margin:20px auto;
    background-color: ghostwhite;
}
@media(max-width:768px){
    .product1_stage1,
    .product1_stage2,
    .product1_stage3{
    flex-direction: column;

}

}